/* =============
    Typography
============= */
body{
    font-family: 'Rubik';
    font-weight: 400;
    font-size: 16;
    color: #64665D;
}

footer{
    font-family: 'Trirong';
    font-size: 700;
    font-weight: 21;
    color: #E3E6DC;
}

h1{
    font-family:'Trirong';
    font-weight: 700;
    font-size: 28;
    color: #64665D;
}

h2{
    font-family: 'Trirong';
    font-weight: 700;
    font-size: 24;
    color: #64665D;
}

h3{
    font-family: 'Rubik';
    font-weight: 600;
    font-size: 16;
    color: #6E7D5C;
}