/* =============
    Typography
============= */
body{
    font-family: 'Cabin' , sans-serif;
}

h1{
    font-family:'Trirong';
    font-weight: 700;
    font-size: 28;
    color: #64665D;
}

h3{
    font-family: 'Rubik';
    font-weight: 600;
    font-size: 16;
    color: #6E7D5C;
}