/* =============
    Section1
============= */

._section1a{
    display: grid;
    grid-template-columns: 70% 30%;


@include sm{
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: 
    "image1 h2 aside"
    "image2 h2 aside";
}

.text1{
    @include sm{
        grid-area: text1;
    }
}
.image1{
    display: grid;
    grid-template-columns: 50% 50%;
    @include sm{
        grid-area: image1;
    }
}
.aside{
        background-color: #C3D4BC;
        padding-left: 80px;
}
}

