/* =============
    Section1
============= */

._section1a{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 
    "landscaping"
    "hardscaping";

.landscaping{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
        "image1 landscaping_header"
        "image1 landscaping_body";

    .landscaping_header{
        font-family: 'Trirong';
        font-weight: 700;
        font-size: 24;
        color: #64665D;
    }
        
    .landscaping_body{
        font-family: 'Cabin' , sans-serif;
        color: #64665D;
    }   
}

.hardscaping{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
        "image1 hardscaping_header"
        "image1 hardscaping_body";

    .hardscaping_header{
        font-family: 'Trirong';
        font-weight: 700;
        font-size: 24;
        color: #64665D;
    }
        
    .hardscaping_body{
        font-family: 'Cabin' , sans-serif;
        color: #64665D;
    }
}

.aside{
        background-color: #C3D4BC;
        padding-left: 80px;
}
}

