/* =============
    Section1
============= */

.section1{
    display: grid;
    grid-template-columns: 70% 30%;


@include sm{
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
    "image1 aside"
    "image2 aside";
}

.text1{
    @include sm{
        grid-area: text1;
    }
}
.image1{
    display: grid;
    grid-template-columns: 50% 50%;
    @include sm{
        grid-area: image1;
    }
}
.aside{
    @include sm{
        grid-area: aside;
    }
}
}

