/* =============
    Header
============= */

.header{
    width: 100%;
    display: grid;
    grid-template-columns: 10% 80% 10%;
    grid-template-rows:
    "logo Title socials_dark"
    "logo Title Search_Bar";
    background-color: #D8DECC;
}