/* =============
    Header
============= */

.header{
    width: 100%;
    display: grid;
    grid-template-columns: 100%;

    @include lg{
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-areas:
        "logo Title socials_dark";
    }

    background-color: #D8DECC;
}